$sidebar-bg-color: #fff !important;
$submenu-bg-color-collapsed: #fff !important;
$sidebar-collapsed-width: 100px !important;
$highlight-color: #2300e8 !important;
$icon-bg-color: #BCF0DA !important;

@import '~react-pro-sidebar/dist/scss/styles.scss';

